@mode 'Flat';
@styleTitle 'Line with symbol';

* {
  stroke: symbol('circle');
  stroke-width: 3;
  stroke-dasharray: 13 37;
  stroke-linecap: round;
  stroke-linejoin: miter;
  :stroke {
    fill: #FF0000;
    size: 7;
  }
}